.lista_items{
    display: grid;
    padding: 0;
    grid-template-columns: auto auto auto;

}
.lista_items li{
    margin: 10px;
    text-align: center;
    list-style: none;
    padding: 10px;
    color: black;
    border: 2px solid rgb(31, 27, 27);
    box-shadow: 2px 5px 9px rgba(255, 0, 0, 0.596);
}
img{
    width: 200px;
    height: 200px;

}

.lista_items li .paragra_fo{
 font-weight: bolder;
 font-family: 'Courier New', Courier, monospace;
 color: white;
 background-color: black;
}

.navegat{
 text-decoration: none;

}