
.nome{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    border: 2px solid white;
}
.nome img{
    margin: 0 auto;
}
.nome p{
    margin: 1px;
    background-color: white;
    color: black;
    font:20px Arial ;
    font-weight: bolder;
}


